<div class="hero-unit">
<h1>Users</h1>
    <%= link_to("Add new user", {:action => 'new'}, :class => 'btn btn-mini btn-primary') %>

    <p style="text-align: right;">Number of users:<%= @users.size %></p>

<table class="table table-striped">
    <tr class="info">
        <th>User</th>
        <th>Name and surname</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    <% @users.each do |user| %>
        <tr>
            <td><%= user.user %></td>
            <td><%= user.name + " "+user.surname %></td>
            <td><%= mail_to(user.email) %></td>
            <td class="actions">
            <%= link_to("Edit", {:action => 'edit', :id => user.id}, :class => 'btn btn-xs btn-primary') %>
            <%= link_to("Delete", {:action => 'delete', :id => user.id}, :class => 'btn btn-xs btn-danger') %>
            </td>
        </tr>
    <% end %>

</table>
</div>










