<div class="hero-unit">
<h1>Show Category</h1>
<%= link_to("Return", {:action => 'index'}) %>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th><%= @category.name %></th>
    </tr>
    <tr>
        <th>Position</th>
        <th><%= @category.position %></th>
    </tr>
    <tr>
        <th>Visible</th>
        <th><%= @category.visible ? 'Yes': 'No' %></th>
    </tr>
    <tr>
        <th>Created</th>
        <th><%= @category.created_at %></th>
    </tr>
    <tr>
        <th>Updated</th>
        <th><%= @category.updated_at %></th>
    </tr>
</table>
    <div style="text-align: center;">
<%= link_to("Return", {:action => 'index'}, :class => 'btn btn-primary')%>
    </div>

</div>








